*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-bottom: 6rem;
  margin-top: 7rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
}

.panel {
  border: 1px solid #dedede;
  margin-top: 1rem;
  padding: 1.5rem;
}

.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);
}

.grid__item {
  margin-bottom: 2rem;
}

.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.navbar__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar__brand:visited {
  color: inherit;
}

.navbar__brand:hover {
  opacity: 0.6;
}

.navbar__menu {
  align-items: center;
  display: flex;
}

.navbar__item {
  margin-left: 1rem;
}

.footer {
  align-items: center;
  border-top: 1px solid #f1f1f1;
  display: flex;
  height: 5rem;
  justify-content: center;
}

.form__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5em 0.75em;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__button {
  text-align: center;
}

.list-group {
  min-height: 20px;
}

.list-group-item {
  cursor: move;
  border: 1px solid lightgray;
  min-height: 100px;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 15px;
}

.viewport {
  width: 365px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid lightgray;
  margin-right: 1em;
  margin-top: 1em;
}

ul {
  list-style-type: none;
  padding: 1em;
}

.add-more {
  width: 365px;
  height: 100px;
  display: inline-block;
  border: 1px dotted black;
  text-align: center;
  margin-right: 1em;
  margin-top: 1em;
}

.add-button {
  margin-top: 2em !important;
}

.add-task {
  width: 365px;
  height: 100px;
  display: inline-block;
  text-align: center;
}

.project-name {
  margin-bottom: 3em;
}

.v--modal {
  height: auto !important;
}

.assign-button {
  margin: 0 !important;
}

.md-toolbar {
  justify-content: space-between;
}

.md-datepicker-dialog {
  z-index: 99999 !important;
}

.md-list-item-text {
  justify-content: space-between;
  flex-direction: initial !important;
}

.md-list-item-text * {
  width: initial !important;
}

.project-item-text {
  flex-direction: column !important;
}

.task-name {
  margin-bottom: 3em;
  font-size: 17px;
}

.task-content {
  display: inline-block !important;
  overflow: auto;
  margin-left: 3em !important;
}

.description {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap !important;
}

.task-content-header {
  justify-content: space-between;
}

.task-name-header {
  justify-content: space-between;
  display: flex;
}

.task-action-button {
  margin-right: 5em;
  margin-top: 1em;
}

